@import 'https://fonts.googleapis.com/css?family=Quicksand';

#info-display, #info-display2, #info-display3, #info-display4 {
    height: 400px;
    /*one way of centering the items*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#background {
    top: 0;
    left: 0;
    min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: fixed;
}

#git-it {
    font-size: 10vw;
    font-family: 'Quicksand', sans-serif;
    animation-delay: .5s;
    animation-duration: 2s;
}

@media (min-width: 600px) and (max-width: 1000px) {
    #git-it {
        font-size: 15vw;
    }
}

#start-arrow {
    position: absolute;
    top: 70%;
    left: 50%;
    animation-delay: 2.25s;
    color: #262626;
    font-size: 2.5vw;
    opacity: 1;
}

#start-arrow:hover {
    color: #8c8c8c;
}

#github-search {
    margin-top: 100%;
    width: 100%;
    z-index: 5;
    position: relative;
    background-color: white;
}
