@import 'https://fonts.googleapis.com/css?family=Quicksand';

/*General*/

body {
    height: auto;
    width: auto;
    border-bottom: 2px solid white;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

#background {
    top: 0;
    min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vw;
    
    z-index: 0;
    position: fixed;
    background-color: #262626;
    color: #cecece;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Intro Area*/

#row-title {
    margin-top: 20%
}

@media (min-width: 600px) and (max-width: 1000px) {
    #git-it {
        font-size: 15vw;
    }
}

#git-it {
    font-size: 10vw;
    animation-delay: .5s;
    animation-duration: 2s;
    width: auto;
    margin: 0;
}

#row-subtitle {
    top: 20%;
}

#subtitle {
    text-align: center;
    margin: 10px auto;
    width: auto;
    animation-delay: 2.25s;
    animation-duration: 1s;
}

#row-arrow {
    margin-top: 5%;
}

#start-arrow {
    height: auto;
    width: auto;
    display: inherit;
    animation-delay: 3.5s;
    font-size: 2.5vw;
    opacity: 1;
}

#start-arrow:hover {
    color: #8c8c8c;
}

/*Search Area*/

#github-search {
    margin-top: 100%;
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    z-index: 5;
    position: absolute;
    color: white;
    background-color: black;
    opacity: .9;

    
    
    /*border: 10px greenyellow solid;*/
}



.flex-body {
    display: flex;
    justify-content: center;
}

#search-area {
    border: 1px red solid;
    margin: 5%;
    margin-top: 10%;

    min-width: 400px;
    max-width: 600px;
    height: auto;
}

#info-display {
    border: 1px solid blue;
    margin: 5%;
    margin-top: 10%;
    
    width: 600px;
    height: 40vh;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    color: white;
}

#organization-search-box {
    border-bottom: 2px solid white;
    text-align: center;
    opacity: .9;
    font-family: 'Quicksand', sans-serif;
}

#search-button {
    background-color: transparent;
    color: white;
}

#man-in-the-box {
    border: 1px yellow dashed;
    min-width: 300px;
    height: 40vh;

    margin: auto;
    margin-top: 5%;
}

