@import 'https://fonts.googleapis.com/css?family=Quicksand';

#info-display, #info-display2, #info-display3, #info-display4 {
    height: 400px;
    /*one way of centering the items*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 107px;
    font-family: 'Quicksand', sans-serif;
}



/*#git-it{
    position: fixed;
    width: 100%;
    z-index: 10;
}*/
